.navbar-lavageVIP {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar-bg {
  background-color: transparent;
}

.navbar-hide {
  transform: translateY(-100%);
}

.logo-navbar {
  height: 100px;
}

.nav-links {
  display: flex;
  gap: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 25px 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.contact-btn {
  cursor: pointer;
  background-color: rgba(224, 153, 0, 0.2);
  padding: 25px 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  color: white;
  text-transform: uppercase;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
}
