.gallery {
  background-color: #151515;
  padding: 120px 40px;
}

.title-realisation h1 {
  margin: 0;
  font-size: 42px;
  font-family: "Orbitron", sans-serif;
  color: #fff;
}

.title-realisation h1::after {
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background: #e09900;
  margin-top: 10px;
}

.title-realisation {
  max-width: 1800px;
  margin: auto;
  padding: 150px 0 100px 0;
}

.gallery .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.gallery .grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.gallery .grid-item {
  overflow: hidden;
  transition: all 0.3s;
}

.gallery .grid-item:hover {
  transform: scale(1.025);
}

.gallery .grid-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

.gallery .grid-item.horizontal {
  grid-column: span 2;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .gallery .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery .grid-item.horizontal {
    grid-column: span 1;
  }
  .gallery .grid-item img {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .gallery .grid {
    grid-template-columns: 1fr;
  }
  .gallery .grid-item img {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .gallery .grid-item img {
    height: 150px;
  }
}
